.my-container {
	height: 100vh;
	display: flex;
	align-items: center;
}

.items {
	height: 70vh;
	width: 100%;
	text-align: right;
}

.item {
	position: relative;
	height: 100%;
	display: none;
}

.item.active {
	display: block;
}

.items img {
	width: 100%;
	height: 100%;
}

.item-description {
	position: absolute;
	color: whitesmoke;
	right: 10px;
	bottom: 5%;
	padding: 1rem;
}

.thumbnails {
	height: 70vh;
	position: relative;
	width: 100%;
}

.thumbnail {
	height: calc(100% / 5);
	width: 100%;
	filter: brightness(0.3);
}

.thumbnail.active {
	filter: brightness(1);
	border: 2px solid whitesmoke;
}

.thumbnail img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

div .fas {
	position: absolute;
	background-color: gray;
	padding: 1rem;
	border-radius: 50%;
	opacity: 0.6;
	right: 40%;
	transform: translateX(-40%);
	cursor: pointer;
	z-index: 1;
}
div .fa-arrow-up-long {
	top: 10px;
}
div .fa-arrow-down-long {
	bottom: 10px;
}
