/* #my-img-main {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}

.carousel-side {
	width: 100%;
	height: 20%;
}

#title,
#description {
	position: absolute;
	right: 2rem;
	color: whitesmoke;
}

#title {
	top: 65%;
}

#description {
	top: 80%;
	width: 40vw;
	text-align: right;
}

div .fas {
	position: absolute;
	background-color: gray;
	padding: 1rem;
	border-radius: 50%;
	opacity: 0.6;
	right: 40%;
	cursor: pointer;
}
div .fa-arrow-up-long {
	top: 10px;
}
div .fa-arrow-down-long {
	bottom: 10px;
} */
